.level-second ul li .the-chart{
    background: rgb(236, 51, 18) !important;
  }
  .level-third ul li .the-chart{
    background: rgb(167, 125, 244) !important;
  }
  .level-fourth ul li .the-chart{
    background: rgb(186, 98, 120) !important;
  }