<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img class="soal" src="http://localhost/hari/gambar/contoh_soal/gravi_1_002_5.png" alt="" srcset=""><br>
    <img class="soal" src="http://localhost/hari/gambar/contoh_soal/gravi_1_002_6.png" alt="" srcset=""><br>
    <img class="soal" src="http://localhost/hari/gambar/contoh_soal/gravi_1_003_1.png" alt="" srcset=""><br>
    <img class="soal" src="http://localhost/hari/gambar/contoh_soal/gravi_1_003_2.png" alt="" srcset=""><br>
    <img class="soal" src="http://localhost/hari/gambar/contoh_soal/gravi_1_003_3.png" alt="" srcset=""><br>
    <img class="soal" src="http://localhost/hari/gambar/contoh_soal/gravi_1_003_4.png" alt="" srcset="">
</body>
</html>
http://localhost/hari/gambar/gambar_user/icon-admin.png